{% extends "base.html" %}
{% load static %}
{% block title %}Jira{% endblock %}
{% block head %}
{#  <link rel="stylesheet" href="https://unpkg.com/@atlaskit/css-reset@2.0.0/dist/bundle.css" media="all">#}
  <script src="https://connect-cdn.atl-paas.net/all.js" data-options="resize:false;base:true"></script>

    <script src="{% static 'js/url.js' %}"></script>
    <script src="{% static 'js/variables.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/first_row.css' %}">
     <link rel="stylesheet" href="{% static 'css/second_row.css' %}">
     <link rel="stylesheet" href="{% static 'css/third_row.css' %}">
     <link rel="stylesheet" href="{% static 'css/table.css' %}">
     <link rel="stylesheet" href="{% static 'css/popup.css' %}">

{% endblock %}
{% block content %}
    <main class="wrapper">
        <section class="left">
            {% include "includes/leftnav.html" %}
        </section>
        <section  class="content">
            <div id="top">
                <div id="singles-header"></div>
                <div id="singles"></div>
            </div>
            <div id="secondrow">
                <div id="bar-chart"></div>
                <div id="score-table"></div>
            </div>
            <div id="thirdrow">
                <div id="tableDiv" class="container-fluid">
                    <div class="jumbotron presence-filter-section">
                        <form id="myDynamicForm" class="form-horizontal">
                            <div id="myDynamicFilterTable" class="myDynamicFilterTable">
                            </div>
                        </form>
                    </div>
                    <div id="myDynamicTable">
                    </div>
                    <div class="rowcountdiv"></div>
                </div>
                <div id="popDiv" class="container-fluid">

                </div>
            </div>

        </section>
        <section class="right"></section>
    </main>
<footer>
    @ Copyright to Totesoft LLC 2023
</footer>
    <script src="{% static 'js/util/randomColor.js' %}"></script>
    <script src="{% static 'js/util/smart.js' %}"></script>
    <script src="{% static 'js/util/wrangler.js' %}"></script>

    <script src="{% static 'js/Change/TaskCounter.js' %}"></script>

    <script src="{% static 'js/index/firstRow.js' %}"></script>
    <script src="{% static 'js/index/secondRow/barvis.js' %}"></script>
    <script src="{% static 'js/index/secondRow/circle.js' %}"></script>
    <script src="{% static 'js/index/secondRow/Performance.js' %}"></script>
    <script src="{% static 'js/index/secondRow.js' %}"></script>

    <script src="{% static 'js/index/thirdRow/GetHeader.js' %}"></script>

    <script src="{% static 'js/index/thirdRow/Prerequisites.js' %}"></script>
    <script src="{% static 'js/index/thirdRow/DynamicTableBuild.js' %}"></script>
    <script src="{% static 'js/index/thirdRow/FilterTable.js' %}"></script>
    <script src="{% static 'js/index/thirdRow/PopDetails.js' %}"></script>
    <script src="{% static 'js/index/thirdRow.js' %}"></script>
    <script src="{% static 'js/index/thirdRow/SortTable.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

{% endblock %}